contextlib2
enum34==1.1.8
sortedcontainers==2.1.0
intervaltree==3.0.2
mock>=2.0.0
protobuf==3.13.0
argparse==1.4.0
git+https://github.com/google-research/tf-slim.git
pyasn1<0.5.0,>=0.4.6
requests>=2.18
crcmod>=1.7
six<=1.15.0,>=1.11.0
joblib
psutil
pandas==1.2.4
altair==4.1.0
Pillow>=5.4.1
ipython>=7.9.0
httplib2==0.18.1
pyparsing==2.2.0